<nb-card [nbSpinner]="loading" style="height: 100vh;overflow: auto;">
  <nb-card-header>

    <div style="display: flex;justify-content: space-between;">
      <span>Add User</span>
      <div *ngIf="currentUserId" style="width: 60px;display: flex;justify-content: space-between;">
        <nb-icon *ngIf="!editable" (click)="makeEdittable()" style="font-size: 25px;" icon="edit"></nb-icon>
        <nb-icon *ngIf="editable" (click)="backToView()" style="font-size: 25px;" icon="close-square"></nb-icon>
        <nb-icon (click)="deleteRecord()" style="font-size: 25px;" icon="trash"></nb-icon>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <form #userForm="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label for="inputFirstName" class="label required">First Name</label>
            <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name"
              [(ngModel)]="userObject.firstName" #firstName="ngModel" name="firstName" [disabled]="!editable && currentUserId" required
              [ngClass]="{'is-invalid':(firstName.invalid) && (formSubmitted || firstName.touched) }">
            <div class="required-class"
              *ngIf="(formSubmitted && firstName.invalid) || (!(firstName.valid) && firstName.touched) ">
              <span>First Name is required</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label for="inputLastName" class="label required">Last Name</label>
            <input type="text" nbInput fullWidth id="lastName" placeholder="Last Name" [disabled]="!editable && currentUserId"
              [(ngModel)]="userObject.lastName" #lastName="ngModel" name="lastName" required
              [ngClass]="{'is-invalid':(lastName.invalid) && (formSubmitted || lastName.touched) }">
            <div class="required-class"
              *ngIf="(formSubmitted && lastName.invalid) || (!(lastName.valid) && lastName.touched) ">
              <span>Last Name is required</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label for="inputEmail" class="label required">Email</label>
            <input type="email" nbInput fullWidth id="email" placeholder="Email" [disabled]="!editable && currentUserId"
              [(ngModel)]="userObject.email" #email="ngModel" name="email" required
              [ngClass]="{'is-invalid':(email.invalid) && (formSubmitted || email.touched) }">
            <div class="required-class" *ngIf="(formSubmitted && email.invalid) || (!(email.valid) && email.touched) ">
              <span>Email is required</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group" style="display: grid;">
            <label for="userName" class="label required">User Name</label>
            <input type="text" nbInput fullWidth id="userName" placeholder="User Name" [disabled]="!editable && currentUserId"
              [(ngModel)]="userObject.userName" #userName="ngModel" name="userName" required
              [ngClass]="{'is-invalid':(userName.invalid) && (formSubmitted || userName.touched) }">
            <div class="required-class"
              *ngIf="(formSubmitted && userName.invalid) || (!(userName.valid) && userName.touched) ">
              <span>User Name is required</span>
            </div>
          </div>
          <div *ngIf="!currentUserId" class="form-group" style="display: grid;">
            <label for="password" class="label required">Password</label>
            <input type="password" nbInput fullWidth id="password" placeholder="Password"
              [(ngModel)]="userObject.password" #password="ngModel" name="password" required
              [ngClass]="{'is-invalid':(password.invalid) && (formSubmitted || password.touched) }">
            <div class="required-class"
              *ngIf="(formSubmitted && password.invalid) || (!(password.valid) && password.touched) ">
              <span>Password is required</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label for="mobile" class="label required">Contact No.</label>
            <input type="text" nbInput fullWidth id="mobile" placeholder="Contact Number"
              [(ngModel)]="userObject.mobile" #mobile="ngModel" [disabled]="!editable && currentUserId" name="mobile" required
              [ngClass]="{'is-invalid':(mobile.invalid) && (formSubmitted || mobile.touched) }">
            <div class="required-class"
              *ngIf="(formSubmitted && mobile.invalid) || (!(mobile.valid) && mobile.touched) ">
              <span>Contact Number is required</span>
            </div>
          </div>
        </div>
      </div>

      <nb-card>
        <nb-card-header>
          User Permissions
        </nb-card-header>
        <nb-card-body>
          <div class="row">

            <div *ngFor="let permission of userObject.permission;let i = index" class="col-md-4 col-12">
              <nb-card>
                <nb-card-header class="d-flex justify-content-between" style="padding: 10px 10px;">
                  {{permission.name}}
                  <nb-checkbox name="{{permission.name}}_i_selectAll" (change)="selectAllChecked(permission)"
                    [(ngModel)]="permission.selectAll" [disabled]="!editable && currentUserId"></nb-checkbox>
                </nb-card-header>
                <nb-card-body style="padding: 0px">
                  <table class="w-100">
                    <tr class="table-checkbox">
                      <th>
                        <nb-icon style="font-size: 25px;" icon="plus-circle"></nb-icon>
                      </th>
                      <th>
                        <nb-icon style="font-size: 25px;" icon="edit"></nb-icon>
                      </th>
                      <th>
                        <nb-icon style="font-size: 25px;" icon="eye"></nb-icon>
                      </th>
                      <th>
                        <nb-icon style="font-size: 25px;" icon="trash"></nb-icon>
                      </th>
                    </tr>

                    <tr class="table-checkbox">
                      <td>
                        <nb-checkbox name="{{permission.name}}_i_add"
                          (change)="selectAllChecked(permission,'individual')" [disabled]="!editable && currentUserId"
                          [(ngModel)]="permission.add">
                        </nb-checkbox>
                      </td>
                      <td>
                        <nb-checkbox name="{{permission.name}}_i_edit"
                          (change)="selectAllChecked(permission,'individual')" [disabled]="!editable && currentUserId"
                          [(ngModel)]="permission.edit">
                        </nb-checkbox>
                      </td>
                      <td>
                        <nb-checkbox name="{{permission.name}}_i_view"
                          (change)="selectAllChecked(permission,'individual')" [disabled]="!editable && currentUserId"
                          [(ngModel)]="permission.view">
                        </nb-checkbox>
                      </td>
                      <td>
                        <nb-checkbox name="{{permission.name}}_i_delete"
                          (change)="selectAllChecked(permission,'individual')" [disabled]="!editable && currentUserId"
                          [(ngModel)]="permission.delete">
                        </nb-checkbox>
                      </td>
                    </tr>
                  </table>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="!currentUserId" type="submit" nbButton (click)="submit(userForm)">Submit</button>
    <button *ngIf="currentUserId && editable" type="submit" nbButton (click)="update(userForm)">Update</button>
  </nb-card-footer>
</nb-card>
